* {
  padding: 0;
  margin: 0;
}

@keyframes zoomIn {
  0% {
    width: 30px;
    height: 30px;
    transform: rotate(-1440deg);
  }

  100% {
    width: 70px;
    height: 70px;
    transform: rotate(0deg);
  }
}

.bg-container {
  height: 100vh;
  width: 100vw;
  background-color: goldenrod;
  position: relative;
}

.circle-box {
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-left: 5px solid white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  animation: zoomIn 4s;
  position: absolute;
  top: 150px;
  left: 150px;
}
